<!DOCTYPE html>
<html lang="en">
<head>
    <title>Uploader</title>
</head>
<style><%- inline.style %></style>
<body>
<div class="container">
    <h1>404 Not Found</h1>
    <div id="files-list">
        <div class="file-card">
        <p>404 <a href="<%= "/download/" + file %>"><%= file %></a> not found</p>
        <p>Return to <a href="/download">/download</a></p>
        </div>
    </div>
</div>
</body>
</html>
